sudo: false
language: rust
dist: trusty
rust:
- nightly
- beta
- stable
- 1.26.0 # minimum supported version (based on features)
cache: cargo
matrix:
  allow_failures:
  - rust: nightly
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo bench &&
  travis-cargo --only stable doc
addons:
  apt:
    sources:
    - kalakris-cmake
    packages:
    - cmake
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
after_success:
- travis-cargo --only stable doc-upload
notifications:
  email:
    on_success: never
env:
  global:
    - TRAVIS_CARGO_NIGHTLY_FEATURE=""
    - secure: Zk4S6b4o3VihaRi8ir0cc4gLrfxTw2ubFRfgvApzOC8jJcqBaZoz3bfOkVsEsA6bp4esf+XUrHxZ+ChMovQrHVtF/Uu1nFnlXEB3MuLpX1ABNxJoRz/8mb3EzDXC8UmrMb96Gqv4aEsVs8y+UVeNySkngnRjFBvPEpFYXgiFdOfJyntYU71MQd/dsNj4dEtJZFxmOw5BYE3SM1yb+EbhdGPcIMH1RlukL1Fyj8SvkfoJRNPLUjDffPSIZ+OgcH45FlghKsV68NknYvxNxa9QhCyGjVgj1S31E31BWQ3NimdDbGMHaAghon2eRh08iusVLqjun5fYGHdB3TYLjOSEQL5T8AlJkg6q6wH7MNXzZUvtCSQ0IlwsYUm1T5tJiHqaqPbfTC/wVRaafgryoGSnaGvfpOWW0CvjeA6pCqyAuFi5vimGPu8bLkIgRvDTew4I+T8izv5qzKhrhq9iv9v3JcAa5MB3ZeYk+mngftMIzDtASc+BCesvkKbiE/Rd51YlJrOl4KwvBYJTd8Pzs1NjH5x5sYWIq0o4RAAA7KoBtaFJg62aBJzs5uiv5rX1gpWIHo28RJhWkZ+8eeuqyPi3ocObeFukrHjCz/RQwhcZ8EGcQMubi8i+dF8ujOqTW7GBDk4Cmg0WAaU3MMey8tX9CWpHzrrVru08HCNrSqKQvZ8=
